@font-face {
	font-family: Titulo;
	src: url(fonts/ANODETONOONE.TTF);
}

body {
	width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

	background: url(imgs/background.png);
	margin: 0;
}

#game-background {
	width: 90vw;
	height: 630px;

	position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

	background: url(imgs/game_background.png);
	border: 3px solid white;
	border-radius: 10px;
}

#game-panel {
	background: #80cb83;
	text-align: center;
	padding: 20px;
	border: 5px solid green;
	border-radius: 10px;
}

.game-font {
	font-family: Titulo;
	font-size: 2.5vh;
	user-select: none;
	margin: 0;
}

#title {
	font-size: 5vh;
	color: #603A03;
	margin: 0;
	margin-bottom: 20px;
}

#game-info {
	margin-bottom: 20px;
}

#subtitle {
	font-size: 3vh;
	margin-bottom: 10px;
}

#play-button {
    background: #603a03;
	font-size: 2.5vh;
    color: #bda37e;
	text-align: center;
    padding: 1.3vh 1.3vw;
    border: 3px solid #603a03;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: 0.35s;
}

#play-button:hover {
    background: #bda37e;
    color: #603a03;
    border: 3px solid #603a03;
}

#player {
	width: 256px;
	height: 66px;

	position: absolute;

	background-image: url(imgs/player.png);

	animation: player .5s steps(2) infinite;
}

#enemy-helicopter {
	width: 246px;
	height: 65px;

	position: absolute;

	background-image: url(imgs/enemy_helicopter.png);

	animation: enemy-helicopter .5s steps(2) infinite;
}

#enemy-truck {
	width: 154px;
	height: 70px;

	position: absolute;

	background-image: url(imgs/enemy_truck.png);
}

#ally {
	width: 34px;
	height: 40px;

	position: absolute;

	background-image: url(imgs/ally.png);

	animation: ally .9s steps(12) infinite;
}

#score {
	position: absolute;
	left: 1vw;
	bottom: 1vh;

	color: white;
}

#life {
	width: 141px;
	height: 38px;

	position: absolute;
	left: 1vw;
	top: 1vh;
	display: flex;
    justify-content: center;
    align-items: center;
	gap: 10px;
	
	background-image: url(imgs/lifeBar.png);
	opacity: 0.5;
}

#battery {
	width: 35px;
	height: 25px;

	background-image: url(imgs/battery.png);
}

#bullet {
	width: 50px;
	height: 8px;

	position: absolute;

	background-image: url(imgs/bullet.png);
}

#deathAnimation1 {
	width: 15px;
	height: 86px;

	position: absolute;

	background-image: url(imgs/explosion.png);

	animation: explosion .7s linear;
}

#deathAnimation2 {
	width: 15px;
	height: 86px;

	position: absolute;

	background-image: url(imgs/explosion.png);

	animation: explosion 1s linear;
}

#deathAnimation3 {
	width: 44px;
	height: 51px;

	position: absolute;

	background-image: url(imgs/ally_death.png);

	animation: ally-death .5s steps(7) infinite;
}

@keyframes player {
	from {background-position:0px;}
	to {background-position:-512px;}
}

@keyframes enemy-helicopter {
	from {background-position:0px;}
	to {background-position:-492px;}
}

@keyframes ally {
	from {background-position:0px;}
	to {background-position:-408px;}
}

@keyframes ally-death {
	from {background-position:0px;}
	to {background-position:-308px;}
}

@keyframes explosion {
	to {width:200px; opacity:0}
}
